@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.header {
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}

.header__container {
    flex-grow: 1;
    text-align: center;
    
}

.header__container__h1 {
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}

.body {
    background: url('./images/background.jpg');
    height: 100vh;
}
