@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.header {
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 120px;
}

.header__container {
    flex-grow: 1;
    text-align: center;
}

.img {
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.header__container__h1 {
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center; 
    margin: 0;  
    padding-top: 10px; 
}

.header__container__h2 {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}

.body {
    background: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: 3800px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_adress {
    font-size: 20px;
    padding-left: 40px;
    padding-top: 20px;
    float: left;
}

.footer_adress_adress {
    font-weight: 400;
    font-size: 18px;
    color:#000000;
}

.city {
    white-space: nowrap;
    padding-left: 70px;
}

.phone1 {
    padding-left: 7%;
}

.site_url {
    display: flex;
}

.site_url_buttom {
    display: flex;
    padding: 35px 35px 35px 35px;
    box-sizing: border-box;
}

.site_url_plus {
    padding: 35px 35px 35px 3px;
}

@media screen and (min-width: 1200px) {

}

@media (min-width: 500px) and (max-width: 1000px) {
    .header {
        padding-bottom: 10px;
    }
}



@media (max-width: 500px) {

}

